<%# render 'nav' %>

<div class="row margin-top-increase">
  <div class="col-md-4 offset-md-4">
  <div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <% if flash[:notice].present? %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <p class="lead">Please swipe your card to start the system</p>
    <hr class="my-2">
    <%= form_tag( :action => "validate_login") do %>  
      <input type="password" class="hidden-rfid" id="rfidinput" name="rfid" autofocus value=""/>
      <%= submit_tag "Forward", class: "hidden-rfid" %>    
    <% end %> 
  </div>
  </div>
</div>
